server:
  port: 8761

spring:
  application:
    name: service-discovery

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG